html {
  scroll-behavior: smooth;
}

body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: metropolis-regular;
}

body {
  display: flex;
  flex-direction: column;
}

@font-face {
    font-family: hemi-head-it;
    src: url(hemi-head-bd-it.ttf);
  }

@font-face {
  font-family: metropolis-bold;
  src: url(metropolis-bold.otf);
}

@font-face {
    font-family: metropolis-bold;
    src: url(metropolis-bold.otf);
  }
  


@font-face {
  font-family: robotica;
  src: url(Robotica.ttf);
}

@font-face {
  font-family: metropolis-medium;
  src: url(metropolis-medium.otf);
}

@font-face {
  font-family: hemi-head;
  src: url(hemi-head-bd-it.ttf);
}

@font-face {
  font-family: metropolis-regular;
  src: url(metropolis-regular.otf);
}

@font-face {
  font-family: robotica-custom;
  src: url(Reqruit-2.otf);
}

.red-button
{
    color: white;
    text-decoration: none;
    background-color: #d10a35;
    display: inline-block;
    font-size: 0.9em;
    font-family: metropolis-medium;
    padding: 0.8em;
  
}

.bg-radial-grey
{

    background: rgb(34,53,57);
    background: -moz-radial-gradient(at center, rgba(34,53,57,1) 0%, rgba(9,13,14,1) 70%);
    background: -webkit-radial-gradient(at center, rgba(34,53,57,1) 0%, rgba(9,13,14,1) 70%);
    background: radial-gradient(at center, rgba(34,53,57,1) 0%, rgba(9,13,14,1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#223539",endColorstr="#090d0e",GradientType=1);


}

.cool-header-top {
  background-color: #d10a35;
  padding-top: 5%;
  position: relative;
  margin-bottom: -1px;

  clip-path: polygon(
    0% 0%,
    14% 0%,
    17% 34%,
    27% 34%,
    31% 100%,
    69% 100%,
    73% 34%,
    83% 34%,
    86% 0%,
    100% 0,
    100% 100%,
    0% 100%
  );

  background: rgb(204, 20, 51);
  background: -moz-linear-gradient(
    90deg,
    rgba(204, 20, 51, 1) 0%,
    rgba(145, 22, 43, 1) 10%,
    rgba(82, 9, 21, 1) 15%,
    rgba(0, 108, 213, 1) 23%,
    rgba(0, 108, 213, 1) 31%,
    rgba(0, 108, 213, 1) 69%,
    rgba(0, 108, 213, 1) 77%,
    rgba(82, 9, 21, 1) 85%,
    rgba(145, 22, 43, 1) 89%,
    rgba(204, 20, 51, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(204, 20, 51, 1) 0%,
    rgba(145, 22, 43, 1) 10%,
    rgba(82, 9, 21, 1) 15%,
    rgba(0, 108, 213, 1) 23%,
    rgba(0, 108, 213, 1) 31%,
    rgba(0, 108, 213, 1) 69%,
    rgba(0, 108, 213, 1) 77%,
    rgba(82, 9, 21, 1) 85%,
    rgba(145, 22, 43, 1) 89%,
    rgba(204, 20, 51, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(204, 20, 51, 1) 0%,
    rgba(145, 22, 43, 1) 10%,
    rgba(82, 9, 21, 1) 15%,
    rgba(0, 108, 213, 1) 23%,
    rgba(0, 108, 213, 1) 31%,
    rgba(0, 108, 213, 1) 69%,
    rgba(0, 108, 213, 1) 77%,
    rgba(82, 9, 21, 1) 85%,
    rgba(145, 22, 43, 1) 89%,
    rgba(204, 20, 51, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cc1433",endColorstr="#cc1433",GradientType=1);
}

.cool-header-top::after {
  content: "";
  background: #00012e;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  clip-path: polygon(
    0% 0%,
    14% 13%,
    17% 45%,
    27% 45%,
    31% 100%,
    69% 100%,
    73% 45%,
    83% 45%,
    86% 13%,
    100% 0,
    100% 100%,
    0% 100%
  );
}

.cool-header-bottom {
  background-color: #d10a35;
  padding-top: 5%;
  position: relative;
  margin-top: -1px;

  /* clip-path: polygon( 
      
      0% 0%, 
      14% 0%, 
      17% 34%, 
      27% 34%, 
      31% 100%, 
      
  
      69% 100%, 
      73% 34%, 
      83% 34%,
      86% 0%,  
      100% 0,
      
      
      100% 100%, 0% 100%
      ); */

  clip-path: polygon(
    0% 100%,
    14% 100%,
    17% 66%,
    27% 66%,
    31% 0,
    69% 0%,
    73% 66%,
    83% 66%,
    86% 100%,
    100% 100%,
    100% 0,
    0 0
  );

  background: rgb(204, 20, 51);
  background: -moz-linear-gradient(
    90deg,
    rgba(204, 20, 51, 1) 0%,
    rgba(145, 22, 43, 1) 10%,
    rgba(82, 9, 21, 1) 15%,
    rgba(0, 108, 213, 1) 23%,
    rgba(0, 108, 213, 1) 31%,
    rgba(0, 108, 213, 1) 69%,
    rgba(0, 108, 213, 1) 77%,
    rgba(82, 9, 21, 1) 85%,
    rgba(145, 22, 43, 1) 89%,
    rgba(204, 20, 51, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(204, 20, 51, 1) 0%,
    rgba(145, 22, 43, 1) 10%,
    rgba(82, 9, 21, 1) 15%,
    rgba(0, 108, 213, 1) 23%,
    rgba(0, 108, 213, 1) 31%,
    rgba(0, 108, 213, 1) 69%,
    rgba(0, 108, 213, 1) 77%,
    rgba(82, 9, 21, 1) 85%,
    rgba(145, 22, 43, 1) 89%,
    rgba(204, 20, 51, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(204, 20, 51, 1) 0%,
    rgba(145, 22, 43, 1) 10%,
    rgba(82, 9, 21, 1) 15%,
    rgba(0, 108, 213, 1) 23%,
    rgba(0, 108, 213, 1) 31%,
    rgba(0, 108, 213, 1) 69%,
    rgba(0, 108, 213, 1) 77%,
    rgba(82, 9, 21, 1) 85%,
    rgba(145, 22, 43, 1) 89%,
    rgba(204, 20, 51, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cc1433",endColorstr="#cc1433",GradientType=1);
}

.cool-header-bottom::after {
  content: "";
  background: #00012e;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  /* clip-path: polygon( 
      
      0% 0%, 
      14% 13%, 
      17% 45%, 
      27% 45%, 
      31% 100%, 
      
  
      69% 100%, 
      73% 45%, 
      83% 45%,
      86% 13%,  
      100% 0,
      
      
      100% 100%, 0% 100%
      ); */

  clip-path: polygon(
    0% 100%,
    14% 87%,
    17% 55%,
    27% 55%,
    31% 0,
    69% 0,
    73% 55%,
    83% 55%,
    86% 87%,
    100% 100%,
    100% 0,
    0% 0
  );
}

#top-header-menu {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all ease 0.5s;
}

#top-header-menu #header {
}
#top-header-menu * {
  transition: all ease 0.5s;
}

#top-header-menu.sticky {
  z-index: 100;
  background: #000000a6;
}

#top-header-menu.sticky #header {
  width: 100%;
  display: inline-flex;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

#top-header-menu.sticky #header .header-left .logo {
  width: 2em;
}

#top-header-menu.hidden {
  top: -200%;
}

#header-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  display: none;
}

#header-mobile .link-logo {
}

#header-mobile .link-logo .logo {
  width: 2.5em;
}

#header-mobile .toggle-menu {
}

#header-mobile .toggle-menu img {
  width: 2em;
}

#mobile-menu {
  position: fixed;
  z-index: 100;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
  transition: all ease 0.3s;
}

#mobile-menu > div {
  margin-left: 5em;
}

#mobile-menu .bg-mobile-menu {
  background-color: rgba(18, 21, 24, 0.993);
  height: 100%;
}

#mobile-menu .mobile-menu-divider {
  padding: 0 2em;
  transition: all ease 0.7s;
}

#mobile-menu.closed .mobile-menu-divider {
  transform: translateX(100%);
}

#mobile-menu .mobile-menu-divider::after {
  height: 0.2em;
  width: 100%;
  content: "";
  display: inline-block;
  background: rgb(255, 0, 0);
  background: -moz-linear-gradient(
    90deg,
    #87092b 0%,
    rgba(88, 4, 4, 1) 47%,
    #1195fb 81%
  );
  background: -webkit-linear-gradient(
    90deg,
    #87092b 0%,
    rgba(88, 4, 4, 1) 47%,
    #1195fb 81%
  );
  background: linear-gradient(
    90deg,
    #87092b 0%,
    rgba(88, 4, 4, 1) 47%,
    #1195fb 81%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#0fb2fb",GradientType=1);
}

#mobile-menu .top-header-mobile-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;

  transition: all ease 0.8s;
  opacity: 1;
}

#mobile-menu.closed .top-header-mobile-menu {
  opacity: 0;
}
#mobile-menu .top-header-mobile-menu a {
  width: 2em;
}

#mobile-menu .top-header-mobile-menu a img {
  width: 1.5em;
}

#mobile-menu .top-header-mobile-menu a .logo {
  width: 2.5em;
}

#mobile-menu .top-header-mobile-menu #close-mobile-menu {
}

#mobile-menu .top-header-mobile-menu #close-mobile-menu img {
}

#mobile-menu .header-menu {
  list-style: none;
  transition: all ease 0.9s;
}

#mobile-menu.closed .header-menu {
  transform: translateX(-100%) scale(0);
  opacity: 0;
}

#mobile-menu .socials {
}

#mobile-menu .socials a {
}

#mobile-menu .socials img {
  width: 1.5em;
  margin: 0 0.4em;
}

#mobile-menu .header-menu li {
  text-align: center;
  margin: 3em 0;
}

#mobile-menu .header-menu li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;

  font-size: 1em;
  font-family: "metropolis-bold";
}

#mobile-menu.closed {
  right: -110%;
}

.bar-start {
  background: rgb(6, 99, 175);
  background: -moz-linear-gradient(
    0deg,
    rgba(6, 99, 175, 1) 0%,
    rgba(7, 5, 50, 1) 49%,
    rgba(9, 7, 58, 1) 51%,
    rgba(215, 22, 50, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(6, 99, 175, 1) 0%,
    rgba(7, 5, 50, 1) 49%,
    rgba(9, 7, 58, 1) 51%,
    rgba(215, 22, 50, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(6, 99, 175, 1) 0%,
    rgba(7, 5, 50, 1) 49%,
    rgba(9, 7, 58, 1) 51%,
    rgba(215, 22, 50, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0663af",endColorstr="#d71632",GradientType=1);
}

.bg-cnt-gradient {
  background: rgb(255, 0, 0);
  background: -moz-linear-gradient(
    90deg,
    #87092b 0%,
    rgba(88, 4, 4, 1) 47%,
    #1195fb 81%
  )!important;
  background: -webkit-linear-gradient(
    90deg,
    #87092b 0%,
    rgba(88, 4, 4, 1) 47%,
    #1195fb 81%
  )!important;
  background: linear-gradient(
    90deg,
    #87092b 0%,
    rgba(88, 4, 4, 1) 47%,
    #1195fb 81%
  )!important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#0fb2fb",GradientType=1);
}

.cool-list-item {
  width: 30em;
  border: 0 solid blue;
  display: flex;
  overflow: hidden;
}

.cool-list-item.link {
  text-decoration: none;
  color: white;
}

.cool-list-item .column-left {
  display: flex;
  flex-direction: column;
}

.cool-list-item .column-left .top-square-column {
  flex: 1;
  position: relative;
}

.cool-list-item .column-left .top-square-column::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background: #0662ac;
}

.cool-list-item.link .column-left .top-square-column::before {
  width: 2px;
}

.cool-list-item .column-left .top-square-column::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
  background: #0662ac;
}

.cool-list-item.link .column-left .top-square-column::after {
  height: 2px;
}

.cool-list-item .column-left .square-column {
  width: 1em;
  height: 1em;
  position: relative;
  overflow: hidden;
}

.cool-list-item .column-left .square-column::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 3px;
  background: #0662ac;
  right: 0;
  bottom: 0;
  transform-origin: bottom right;
  transform: rotateZ(45deg);
}

.cool-list-item.link .column-left .square-column::after {
  height: 2px;
}

.cool-list-item .column-right {
  display: flex;
  flex-direction: column;
}

.cool-list-item .column-right .top-square-column {
  height: 5em;
  position: relative;
  flex: 1;
}

.cool-list-item .column-right .top-square-column::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background: rgba(215, 22, 50, 1);
}

.cool-list-item.link .column-right .top-square-column::before {
  width: 2px;
}

.cool-list-item .column-right .square-column {
  width: 1em;
  height: 1em;
  position: relative;
  overflow: hidden;
}

.cool-list-item .column-right .square-column::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 3px;
  background: rgba(215, 22, 50, 1);
  right: 0;
  bottom: -3px;
  transform-origin: bottom right;
  transform: rotateZ(45deg);
}

.cool-list-item.link .column-right .square-column::after {
  height: 2px;

  bottom: -2px;
}

.cool-list-item .column-right .top-square-column::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: rgba(215, 22, 50, 1);
}

.cool-list-item.link .column-right .top-square-column::after {
  height: 2px;
}

.cool-list-item .column-center {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;
}

.cool-list-item.link .column-center {
  padding: 1em 0;
}

.cool-list-item .column-center::before,
.cool-list-item .column-center::after {
  background: rgb(6, 99, 175);
  background: -moz-linear-gradient(
    45deg,
    rgba(6, 99, 175, 1) 0%,
    rgba(7, 5, 50, 1) 49%,
    rgba(9, 7, 58, 1) 51%,
    rgba(215, 22, 50, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(6, 99, 175, 1) 0%,
    rgba(7, 5, 50, 1) 49%,
    rgba(9, 7, 58, 1) 51%,
    rgba(215, 22, 50, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(6, 99, 175, 1) 0%,
    rgba(7, 5, 50, 1) 49%,
    rgba(9, 7, 58, 1) 51%,
    rgba(215, 22, 50, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0663af",endColorstr="#d71632",GradientType=1);
}

.cool-list-item .column-center::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
}

.cool-list-item .column-center::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
}

.cool-list-item.link .column-center::before {
  height: 2px;
}

.cool-list-item.link .column-center::after {
  height: 2px;
}

.cool-link-slider {
  margin-top: 2em;
}
.content-padding {
  padding: 0 20%;
}

.content-margin {
  padding: 0 20%;
}

.cool-section {
}

.cool-section .section-content {
  background: rgb(14, 14, 94);
  background: -moz-radial-gradient(
    circle,
    rgba(14, 14, 94, 1) 0%,
    rgba(0, 1, 46, 1) 53%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(14, 14, 94, 1) 0%,
    rgba(0, 1, 46, 1) 53%
  );
  background: radial-gradient(circle, rgba(14, 14, 94, 1) 0%, #00012e 53%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0e0e5e",endColorstr="#00012e",GradientType=1);
  z-index: 59;
  position: relative;
}

.section {
    display: flex;
    flex-direction: column;
}

.section,
.section-content {
  width: 100%;
}

.section-content {
  height: 100%;
}

.section .section-content .section-title {
color: white;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 5em;
}

.section .section-content .section-title::before {
    content: '';
    width: 6em;
    background-color: #d10a35;
    padding-top: 0.3em;
    display: inline-block;
    margin-bottom: 1.5em;
}


.section .section-content .section-title h1 {
    font-family: hemi-head-it;
    font-size: 2.5em;
}

.section .section-content .section-title p {
    font-size: 0.7em;
    margin-top: 1.1em;
}
.title-section {
  font-family: robotica-custom;
  color: white;
  text-align: center;
  font-size: 3em;
  margin-bottom: 1em;
}

.section-one {
  background: url(game-stage.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.section-one .owl-theme .owl-nav {
  display: none;
}

#top-slider .owl-dots {
  margin-top: 1em;
}

.section-one .section-content {
  background: rgb(67, 0, 15);
  background: -moz-linear-gradient(
    103deg,
    rgba(67, 0, 15, 1) 0%,
    rgba(29, 2, 2, 0.6362920168067228) 100%
  );
  background: -webkit-linear-gradient(
    103deg,
    rgba(67, 0, 15, 1) 0%,
    rgba(29, 2, 2, 0.6362920168067228) 100%
  );
  background: linear-gradient(
    103deg,
    rgba(67, 0, 15, 1) 0%,
    rgba(29, 2, 2, 0.6362920168067228) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#43000f",endColorstr="#1d0202",GradientType=1);
}

.section-one .section-content {
  display: inline-block;
}

.section-two {
 
}

.section-two .section-content {

}




.section-two .section-content .photo-list-container
{
display: flex;
justify-content: center;
margin-top: 3em;
}


.section-two .section-content .photo-list-container .photo-item
{
    width: 15em;
    height: 18em;

    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section-two .section-content .photo-list-container .photo-item > div
{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
font-size: 0.8em;
background-color: rgba(82, 5, 5, 0.493);
}

.section-two .section-content .photo-list-container .photo-item h2
{
    font-family: metropolis-medium;
    text-align: center;
    font-size: 2em;
}

.section-two .section-content .photo-list-container .photo-item img
{
width: 3em;
margin-top: 1em;
}


.section-two .section-content .services-list
{
display: flex;
justify-content: center;
margin-top: 5em;
width: 100%;
margin-bottom: 7em;
}



.section-two .section-content .services-list img
{
transform: scale(0.6);
margin: 0 -1em;
}





.section-three {

    background: url(SLIDE_7_FOTO_2.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section-three .section-content {
    background-color: rgba(37, 3, 3, 0.767);
    text-align: center;
    padding: 7em 0;
}

.section-three .section-content img {
    width: 4em;
    margin-bottom: 1em;
}
.section-three .section-content h1 {
    font-family: hemi-head-it;
    color: white;
    margin-bottom: 1em;
}
.section-three .section-content a {
    padding-left: 2em;
    padding-right: 2em;
}










.section-three
{



}


.section-four
{

    

}

.section-four .section-content
{

padding-bottom: 20em;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.section-four .container-event-items
{

    display: inline-flex;
    position: relative;
}


.section-four .container-event-items::after
{

    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    left:0;
    height: 3px;
    background-color: #d10a35;

}

.section-four .section-content .event-item
{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}


.section-four .section-content .event-item:nth-child(odd)::after
{

}


.section-four .section-content .event-item:nth-child(even)::before
{

}


.section-four .section-content .event-item:nth-child(even)
{
    transform: translateY(100%);
    flex-direction: column-reverse;
}






.section-four .section-content .event-item .info img
{
height: 3em;
}

.section-four .section-content .event-item:nth-child(odd) .info
{
margin-bottom: 1em;
}



.section-four .section-content .event-item:nth-child(even) .info
{
    margin-top: 1em;
}


.section-four .section-content .event-item .info p
{
    color: white;
    font-size: 0.7em;
    text-align: center;
}

.section-four .section-content .event-item .red-dot
{
    width: 0.5em;
    height: 0.5em;
    background: #e92f2f;
    border-radius: 100%; 
    display: inline-block;

    -webkit-box-shadow: 0px 0px 13px 7px rgba(233,47,48,0.8);
    -moz-box-shadow: 0px 0px 13px 7px rgba(233,47,48,0.8);
    box-shadow: 0px 0px 13px 7px rgba(233,47,48,0.8);


}


.section-four .section-content .event-item .vertical-red-line
{

    width: 3px;
    background: #d10a35;
    height: 4em;
    
}


.section-four .section-content .event-item .square-container
{
    position: relative;
    width: 6em;
    height: 6em;
    display: flex;
}


.section-four .section-content .event-item .square-container .rect1,
.section-four .section-content .event-item .square-container .rect2
{
    width: 50%;
    display: inline-block;
    position: relative;
    overflow: hidden;

}
.section-four .section-content .event-item .square-container .rect1
{
    
   

}

.section-four .section-content .event-item .square-container .rect2
{



}




.section-four .section-content .event-item .square-container .rect2::before
{

  content: '';
  position: absolute;
  width: 3px;
  background-color: #d10a35;
  height:180%;
  top: 0;
  left: 0;


}

.section-four .container-event-items.owl-carousel 
{


    flex-direction: column;
}
.section-four .container-event-items.owl-carousel .event-item .red-dot,
.section-four .container-event-items.owl-carousel .event-item .vertical-red-line,
.section-four .container-event-items.owl-carousel::after
{




    display: none;
}

.section-four .section-content .container-event-items.owl-carousel .owl-dots
{




}

.section-four .section-content .container-event-items.owl-carousel .event-item,
.section-four .section-content .container-event-items.owl-carousel .event-item .info img
{
    width: 100%;
}


.section-four .section-content .container-event-items.owl-carousel .owl-nav
{
display: none;
}


.section-five
{


}


.section-five .section-content
{


    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;

}


.section-five .section-content iframe
{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.section-six
{


}

.section-six .section-content
{

    display: flex;
    flex-direction: column;
}

.section-six .section-content .portoflio-container
{

    margin-top: 3em;

}

.section-six .section-content .foto-slider
{
    width: 100%;
    position: relative;
}

.section-six .section-content .foto-slider-item
{
    text-decoration: none;
}

.section-six .section-content .foto-slider-item span
{

    display: inline-block;
    position: relative;

}

.section-six .section-content .foto-slider-item span::after
{
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgb(103,7,7);
    background: -moz-linear-gradient(111deg, rgba(103,7,7,0.05085784313725494) 0%, rgba(209,10,53,0.6727065826330532) 100%);
    background: -webkit-linear-gradient(111deg, rgba(103,7,7,0.05085784313725494) 0%, rgba(209,10,53,0.6727065826330532) 100%);
    background: linear-gradient(111deg, rgba(103,7,7,0.05085784313725494) 0%, rgba(209,10,53,0.6727065826330532) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#670707",endColorstr="#d10a35",GradientType=1);
}


.section-six .section-content .desc-foto-slider
{

    color: white;
    font-size: 0.9em;
    margin-top: 7px;
    position: relative;
    display: flex;
    align-items: center;
}

.section-six .section-content .desc-foto-slider::before
{
    content: '';
    display: inline-block;
    height: 100%;
    width: 1px;
    height: 14px;
    /* height: 100%; */
    background: #d11535;
    margin-right: 4px;
    transform: translateY(-1px);
}


.section-six .section-content  .partners.first-partner
{

    margin-top: 3em;

}


.section-six .section-content  .partners.last-partner
{

    margin-bottom: 10em;

}


.section-six .section-content  .partners
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}


.section-six .section-content  .partners a
{
    display: inline-block;
    width: 5em;
    margin:0 1em;
}
 

.section-six .section-content  .partners a img
{


width: 100%;

}
 

.section-seven
{
    background: url(kid-playing.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.section-seven .section-content
{
display: flex;
justify-content: center;
background-color: rgba(37, 3, 3, 0.767);
padding-top: 7em;
padding-bottom: 12em ;
}


.section-seven .section-content > img
{

    width: 10em;
    height: 100%;
    margin:0 3em;

}

.section-seven .section-content .right-content
{


display: flex;
flex-direction: column;
justify-content: center;

}

.section-seven .section-content .right-content h1
{


    font-family: hemi-head-it;
    color: white;
    margin-bottom: 0.5em;

}

.section-seven .section-content .right-content a
{




}

.section-eight
{

    margin-top: -6em;
}


.section-eight .section-content 
{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7em 0;
}

.section-eight .section-content h1
{

    font-family: robotica-custom;
    font-size: 2.5em;
    color: white;
    text-align: right;
}


.section-eight .section-content .badge-logo
{

    background: url(SLIDE_11_DIGITAL_1.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width: 16em;
    height: 11em;
    display: inline-block;
    clip-path: polygon(0 0, 90% 0, 100% 10%, 100% 100%, 10% 100%, 0 90%);

    position: relative;
    margin-right: 6em;
}


.section-eight .section-content .badge-logo > div
{


    display: inline-flex;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    position: relative
}


.section-eight .section-content .badge-logo > div > span
{
    display: inline-block;
}



.section-eight .section-content .badge-logo > div  img
{
    width: 7em;

}


.section-eight .section-content .right-content
{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

}

.section-eight .section-content .badge-logo img{


    position: absolute;
    left: 0;
    width: 5em;

    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}

#header {
  width: 100%;
  display: inline-flex;
  padding-top: 1em;
  padding-bottom: 1em;
}

#header .header-left {
  display: inline-flex;
  align-items: center;
}

#header .header-left .logo {
  width: 4em;
}

#header .header-right {
  display: inline-flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

#header .header-right .header-socials {
}

#header .header-right .header-socials a {
  margin-left: 0.5em;
}

#header .header-right .header-socials a img {
  width: 1em;
}

#header .header-right .header-menu {
  list-style: none;
  display: inline-block;
}

#header .header-right .header-menu li {
  display: inline-block;
  padding: 0 0.5em;
  border-right: 2px solid #d10a35;
}

#header .header-right .header-menu li:last-child {
  border-right: none;
}

#header .header-right .header-menu li a {
  color: white;
  text-decoration: none;
  font-family: metropolis-medium;
  color: white;
  text-decoration: none;
  font-family: metropolis-medium;
  font-size: 0.85em;
}

.top-menu-divider-line {
  display: inline-block;
  width: 100%;
  height: 0.2em;
  background: #d10a35;
  float: left;
}

.gradient-bg-blue-to-red {
  background: rgb(255, 0, 0);
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(88, 4, 4, 1) 47%,
    rgba(15, 178, 251, 1) 81%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(88, 4, 4, 1) 47%,
    rgba(15, 178, 251, 1) 81%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(88, 4, 4, 1) 47%,
    rgba(15, 178, 251, 1) 81%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#0fb2fb",GradientType=1);
}

.slider-header-site {
  color: white;
}

.slider-header-site .link-btn-top-slider {
  padding: 0.8em;
  margin-top: 1em;
}

.slider-header-site h2 {
  font-family: hemi-head-it;
  font-size: 4em;
}

.slider-header-site p {
  font-family: metropolis-medium;
  font-size: 0.8em;
  margin-top: 0.3em;
}

.slider-header-site .btn_slider {
  font-family: metropolis-medium;
  text-transform: uppercase;
  margin-top: 3em;
}

.slider-header-site .btn_slider .btn_slider_content {
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  clip-path: polygon(0 0, 95% 1%, 100% 35%, 100% 100%, 5% 100%, 0 65%);
  transform: scale(0.98, 0.94);
}

#top-slider {
  margin: 18em 0;
}

#top-slider .owl-dots {
  text-align: left;
}



#instafeed {
  display: flex;
  justify-content: space-evenly;
}

#instafeed .instagram-post {
  display: flex;
  flex-direction: column;
  width: 16em;
  margin: 0 1em;
}

#instafeed .instagram-post .top-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3em;
}

#instafeed .instagram-post .top-info .top-info-left {
  display: flex;
  align-items: center;
}

#instafeed .instagram-post .top-info .top-info-left .logo-info {
  display: inline-block;
  background: url(magicshot-logo.png);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  border: 1px solid white;
}

#instafeed * {
  font-family: metropolis-regular;
  color: white;
  text-decoration: none;
}

#instafeed .instagram-post .top-info .top-info-left .insta-owner {
  margin-left: 0.5em;
  font-size: 0.8em;
}

#instafeed .instagram-post .top-info .top-info-right {
  display: flex;
  align-items: center;
}

#instafeed .instagram-post .top-info .top-info-right .follow-btn {
  font-size: 0.6em;
  border: 1px solid white;
  padding: 0.5em 2em;
  border-radius: 0.5em;
}

#instafeed .instagram-post .top-info .top-info-right .three-dots {
}

#instafeed .instagram-post .top-info .top-info-right .three-dots img {
  width: 1.2em;
  margin-left: 0.2em;
}

#instafeed .instagram-post .post-photo {
  width: 100%;
  height: 16em;
  object-fit: cover;
}

#instafeed .instagram-post .buttons-container {
  margin-top: 0.4em;
  display: flex;
  justify-content: space-between;
  padding: 0 0.2em;
}

#instafeed .instagram-post .buttons-container img {
  width: 1em;
}

#instafeed .instagram-post .buttons-container .btn-left {
}

#instafeed .instagram-post .buttons-container .btn-left img {
  margin-right: 0.3em;
}

#instafeed .instagram-post .buttons-container .btn-right {
}

#instafeed .instagram-post .post-description {

  text-align: left;
  margin-top: 0.5em;
  font-size: 0.7em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Extra small devices (phones, 769px and down) */
@media only screen and (max-width: 769px) {
  .cool-header-top::after {
    clip-path: polygon(
      0% 0%,
      14% 20%,
      17% 54%,
      27% 54%,
      31% 100%,
      69% 100%,
      73% 54%,
      83% 54%,
      86% 20%,
      100% 0,
      100% 100%,
      0% 100%
    );
  }

  .cool-header-bottom::after {
    /* clip-path: polygon( 0% 0%, 14% 13%, 17% 45%, 27% 45%, 31% 100%, 69% 100%, 73% 45%, 83% 45%, 86% 13%, 100% 0, 100% 100%, 0% 100% ); */
    clip-path: polygon(
      0% 100%,
      14% 80%,
      17% 46%,
      27% 46%,
      31% 0,
      69% 0,
      73% 46%,
      83% 46%,
      86% 80%,
      100% 100%,
      100% 0,
      0% 0
    );
  }

  .cool-header-top,
  .cool-header-bottom {
    padding-top: 7%;
  }



  .section-one .section-content {
    content: "";
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(
      90deg,
      rgb(32 13 13 / 88%) 0%,
      rgb(177 138 138 / 40%) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgb(32 13 13 / 88%) 0%,
      rgb(177 138 138 / 40%) 100%
    );
    background: linear-gradient(
      90deg,
      rgb(32 13 13 / 88%) 0%,
      rgb(177 138 138 / 40%) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
  }

  

  #header-mobile {
    display: flex;
  }

  #top-header-menu {
    background: #000000a6;
  }

  #top-header-menu.sticky #header,
  #header {
    display: none;
  }

 

}

 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .content-padding {
    padding: 0 5%;
  }

  .content-margin {
    padding: 0 5%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .content-padding {
    padding: 0 5%;
  }

  .content-margin {
    padding: 0 5%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .content-padding {
    padding: 0 20%;
  }

  .content-margin {
    padding: 0 20%;
  }
}

@media only screen and (max-width: 1290px) {
  .content-padding {
    padding: 0 5%;
  }

  .content-margin {
    padding: 0 5%;
  }
}
